<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Track delivery status</h1>
                <h6 class="bg-white py-1 rounded-full px-4 text-green-300 text-xs">
                    <%= order._id %>
                </h6>
            </div>
            <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">

            <ul>
                <li class="status_line text-sm md:text-xl pb-16 " data-order="order_placed"><span>Order placed</span></li>
                <li class="status_line text-sm md:text-xl pb-16 " data-order="confirmed"><span>Order confirmation</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-order="prepared"><span>Preparation</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-order="delivered"><span>Out for delivery</span></li>
                <li class="status_line text-sm md:text-xl" data-order="completed"><span>Completed</span></li>
            </ul>

        </div>
    </div>


</section>